#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.phone-number-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.phone-number-wrapper input {
  background-color: gainsboro;
  color: black;
  padding: 5px;
  min-width: 33%;
  font-size: large;
}

.invalid-input-message {
  color: rgb(245, 43, 43);
}